extends header

block content
    link(rel='stylesheet', href='/DataTables/datatables.min.css')
    script(src='/DataTables/datatables.min.js')
    script(src='/js/Chart.min.js')
    script(src='/js/teamCompare.js')
    style.
        div.dt-button-collection.fixed.four-column {
            margin-left: -500px;
            width: 1000px;
        }
        div.dataTables_scrollBody table tbody tr {
            height: auto !important;
        }
    #averages(style="display:none")= JSON.stringify(teamAverages)
    h1 Team Compare
    h3 Average Table
    table#average-table.display.cell-border(width="100%", style="table-layout: fixed;")
    h3 Average Chart
    select#yaxis.custom-select.mr-sm-2
        option(value='' selected) Choose...
        option(value='2') Crossed Baseline
        option(value='3') Sandstorm Hatches
        option(value='4') Sandstorm Cargo
        option(value='5') Cargoship Cargo
        option(value='6') Rocket 1 Cargo
        option(value='7') Rocket 2 Cargo
        option(value='8') Rocket 3 Cargo
        option(value='9') Dropped Cargo
        option(value='10') Cargo Pickup Time
        option(value='11') Cargo Dropoff Time
        option(value='12') Cargo Cycle Time
        option(value='13') Cargo Success Percent
        option(value='14') Cargo Effectiveness
        option(value='15') Total Cargo
        option(value='16') Cargosip Hatch
        option(value='17') Rocket 1 Hatch
        option(value='18') Rocket 2 Hatch
        option(value='19') Rocket 3 Hatch
        option(value='20') Dropped Hatch
        option(value='21') Hatch Pickup Time
        option(value='22') Hatch Dropoff Time
        option(value='23') Hatch Cycle Time
        option(value='24') Hatch Success Percent
        option(value='25') Hatch Effectiveness
        option(value='26') Total Hatch
        option(value='27') Climbing Duration
        option(value='28') Points Earned
        option(value='30') Climbing Gave Assistance
        option(value='31') Climbing Got Assistance
        option(value='32') Speed
        option(value='33') Stability
        option(value='34') Driver Skill
        option(value='35') Defence
        option(value='36') Anyting Break
        option(value='37') Dead
    canvas#average-chart(width="100%", height="50")
